body {
    display: flex;
    justify-content: center;
    background: #260606;
}

main {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 200px);
}

.box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box p {
    position: absolute;
}

