body {
    display: flex;
    justify-content: center;
    background: #260606;
}

main {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 200px);
}

.box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.date {
    position: absolute;
    font-size: 60px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    width: 40%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.box .gift {
    display: none;
    position: absolute;
    font-size: 25px;
    text-align: center;
    background: #000000bf;
    color: #ffffff;
}