/* background for fullpage  */
body {
    display: flex;
    justify-content: center;
    background: #260606;
}

/* background for main content (calendar) */
main {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 200px);
}

/* background images for each hatch */
.box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

/* container with all content for every hatch */
.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* links in gift texts  */
.box a {
    text-decoration: none;
    color: #cd657d;
}

/* style for numbers/dates */
.date {
    position: absolute;
    font-size: 60px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

/* style for hidden content (gift texts) */
.box .gift {
    display: none;
    position: absolute;
    font-size: 25px;
    text-align: center;
    background: #000000bf;
    color: #ffffff;
    width: 100%;
    height: auto;
}
