/* remove the white line (margin) around the body */
body, html {
    margin: 0;
    padding: 0;
    background: #978f80;
}



/* header */
header {
    height: 150px;
    width: 100%;
    display: grid;
    background: #978f80;
    grid-template-rows: 1fr 3fr;
    position: relative;
    overflow: hidden;
}
/* snowflakes */
.flake {
    position: absolute;
    color: #453b19;
    font-size: 30px;
    top: -10px;
    animation: snow 5s linear infinite;
}

@keyframes snow {
    to { transform: translateY(160px)}
}

/* wishing Merry christmas to the user  */
.greet {
    text-align: center;
    color: white;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}

/* giving the user a possibility to go back to homepage  */
.back {
    text-decoration: none;
    color: #ffffff66;
    margin: 10px;
}

/* counter until christmas  */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 6px;
    grid-row: 3;
    height: 40px;
}

.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 47px;
}

.count p {
    margin: 0;
}

.Days, .Hours, .Minutes, .Seconds {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background: #7a2b2b;
    padding: 6px 10px;
    border-radius: 6px;
}

.label {
    font-size: 12px;
    color: #e6e6e6;
    margin-top: 4px;
}


/* main */
main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 753px;
    background: #14261d;
    border-top: solid #453b19;
    place-items: center;
    text-align: center;
}
/* div for the christmas tree where the decorations should be dropped */
.dropzone {
    display: flex; 
    flex-direction: column;
}
/* christmas tree */
.tree {
    width: 500px;
    position: relative;
    
}
/* decorations for the christmas tree  */
.decorations {
    position: absolute;

}
/* text that explains for the user what to do with the tree & decorations  */
.main_text h3 {
    color: #d7d3c9bd;
    font-size: 30px;
    font-family: math;
}
/* arrows in the description text  */
.main_text p {
    animation: pulse 4s infinite;
    font-size: 40px;
    color: #87702d;
}

/* animation for the arrows  */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
/* style for decorations  */
#red, #blue, #orange, #star {
    width: 70px;
}



/* section  */
section {
    height: 400px;
    width: 100%;
    background: #978f80;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #453b19;
}
/* container with all content in section  */
.riddle_cont {
    height: 300px;
    width: 600px;
    border-radius: 50px;
    text-align: center;
    background: #12271deb;
    border: solid #00000054 5px;
}
/* heading  */
.riddle_text h4 {
    font-size: 25px;
    color: #e1d9d9d1;
}
/* text  */
.riddle_text p {
    font-size: 20px;
    color: #e1d9d9d1;
}
/* input design, where the user enters their answer  */
.riddle_input input {
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
/* submit answer button  */
.riddle_submit {
    height: 30px;
    width: 180px;
    margin-top: 15px;
    border-radius: 5px;
}
 


/* christmas calendar  */

/* full div  */
article {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #14261d;
    border-bottom: solid #453b19;
}
/* small div  */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 250px;
    gap: 30px;
}
/* bigger text  */
#calendar-heading {
    text-decoration: none;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #bf5757;
    text-shadow: -3px -3px 8px #731212;
    animation: pulse 4s ease-in infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* button  */
#calendar-button {
    text-decoration: none;
    border: 2px solid #453b19;
    color: #4f2d2d;
    width: 140px;
    height: 50px;
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #258255;
    border-radius: 50px;
}

/* aside, christmas quiz  */

aside {
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 2fr 1fr;
    background: #14261d;
    margin-top: 50px;
    border: solid #453b19;
}

.aside-heading {
    font-size: 45px;
    text-align: center;
    color: #bf5757;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

.aside-quiz {
    grid-column: 1;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border: double 7px #6d25259c;
}

.aside p {
    color: ffffffd6;
}
.aside-answer {
    grid-row: 3;
    text-align: center;
}

#next_button {
    margin: 15px;
}

.aside-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    background: #978f80;
}
/* logo */
.logo_footer {
    height: 220px;
}
/* big container footer */
.cont_footer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* headings  */
.headings_footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
/* small container footer  */
.cont_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont_2 a {
    color: rgb(0, 0, 0);
}
.cont_2 a:hover {
    color: rgb(180,176,176)
}
/* links in footer  */
.links_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.links_footer a {
    text-decoration: none;
    color: black;
}
.links_footer a:hover {
    color: rgb(180, 176, 176);
}