/* remove the white line (margin) around the body */
body, html {
    margin: 0;
    padding: 0;
}


/* header */
header {
    height: 150px;
    width: 100%;
    background: #251518;
    display: grid;
    height: 150px;
    width: 100%;
    background: #251518;
    grid-template-rows: 1fr 3fr;
    position: relative;
    overflow: hidden;
}
/* snowflakes */
.flake {
    position: absolute;
    color: #453b19;
    font-size: 30px;
    top: -10px;
    animation: snow 5s linear infinite;
}

@keyframes snow {
    to { transform: translateY(160px)}
}

/* wishing Merry christmas to the user  */
.greet {
    text-align: center;
    color: white;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}

/* giving the user a possibility to go back to homepage  */
.back {
    text-decoration: none;
    color: #ffffff66;
    margin: 10px;
}

/* counter until christmas  */
.counter {
    text-align: center;
    color: #ffffff87;
}

/* main */
main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 753px;
    background: #213325;
    border-top: solid #453b19;
    place-items: center;
    text-align: center;
}

.dropzone {
    display: flex; 
    flex-direction: column;
}

.tree {
    width: 500px;
    position: relative;
    
}

.decorations {
    position: absolute;

}

.main_text h3 {
    color: #d7d3c9bd;
    font-size: 30px;
    font-family: math;
}

.main_text p {
    animation: pulse 4s infinite;
    font-size: 40px;
    color: #87702d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#red, #blue, #orange, #star {
    width: 70px;
}