/* remove the white line (margin) around the body */
body, html {
    margin: 0;
    padding: 0;
}



/* header */
header {
    height: 150px;
    width: 100%;
    background: #251518;
    display: grid;
    height: 150px;
    width: 100%;
    background: #251518;
    grid-template-rows: 1fr 3fr;
    position: relative;
    overflow: hidden;
}
/* snowflakes */
.flake {
    position: absolute;
    color: #453b19;
    font-size: 30px;
    top: -10px;
    animation: snow 5s linear infinite;
}

@keyframes snow {
    to { transform: translateY(160px)}
}

/* wishing Merry christmas to the user  */
.greet {
    text-align: center;
    color: white;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}

/* giving the user a possibility to go back to homepage  */
.back {
    text-decoration: none;
    color: #ffffff66;
    margin: 10px;
}

/* counter until christmas  */
.counter {
    text-align: center;
    color: #ffffff87;
}




/* main */
main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 753px;
    background: #14261d;
    border-top: solid #453b19;
    place-items: center;
    text-align: center;
}
/* div for the christmas tree where the decorations should be dropped */
.dropzone {
    display: flex; 
    flex-direction: column;
}
/* christmas tree */
.tree {
    width: 500px;
    position: relative;
    
}
/* decorations for the christmas tree  */
.decorations {
    position: absolute;

}
/* text that explains for the user what to do with the tree & decorations  */
.main_text h3 {
    color: #d7d3c9bd;
    font-size: 30px;
    font-family: math;
}
/* arrows in the description text  */
.main_text p {
    animation: pulse 4s infinite;
    font-size: 40px;
    color: #87702d;
}

/* animation for the arrows  */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
/* style for decorations  */
#red, #blue, #orange, #star {
    width: 70px;
}



/* section  */
section {
    height: 400px;
    width: 100%;
    background: #251518;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #453b19;
}
/* container with all content in section  */
.riddle_cont {
    height: 300px;
    width: 600px;
    border-radius: 50px;
    text-align: center;
    background: #12271deb;
    border: solid #a1956c;
}
/* heading  */
.riddle_text h4 {
    font-size: 25px;
    color: #e1d9d9d1;
}
/* text  */
.riddle_text p {
    font-size: 20px;
    color: #e1d9d9d1;
}
/* input design, where the user enters their answer  */
.riddle_input input {
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
/* submit answer button  */
.riddle_submit {
    height: 30px;
    width: 180px;
    margin-top: 15px;
    border-radius: 5px;
}
 


/* christmas calendar  */

/* full div  */
article {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #14261d;
}
/* small div  */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 250px;
    gap: 30px;
}
/* bigger text  */
#calendar-heading {
    text-decoration: none;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #bf5757;
    text-shadow: -3px -3px 8px #731212;
    animation: grow 2s ease-in linear;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
/* button  */
#calendar-button {
    text-decoration: none;
    border: 2px solid #453b19;
    color: #4f2d2d;
    width: 140px;
    height: 50px;
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #258255;
    border-radius: 50px;
}

/* aside, christmas quiz  */

aside {
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 2fr 1fr;
}

.aside-heading {

}

.aside-quiz {

}

.aside-results {

}