/* remove the white line (margin) around the body */
body, html {
    margin: 0;
    padding: 0;
}


/* header */
header {
    height: 150px;
    width: 100%;
    background: #251518;
    display: grid;
    height: 150px;
    width: 100%;
    background: #251518;
    grid-template-rows: 1fr 3fr;
}
.greet {
    text-align: center;
    color: white;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}
.back {
    text-decoration: none;
    color: #ffffff66;
    margin: 10px;
}
.counter {
    text-align: center;
    color: #ffffff87;
}