/* add a border to the nav div to seperate the header and main info */
.nav {
    border-bottom: solid #cdc8be 1px;
}
/* main div */
.cont_privacy {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 50px 0;
    align-items: center;
}
/* create a div inside the main to make it smaller  */
.div {
    text-align: center;
    width: 400px;
    border: solid 2px grey;
    padding: 50px;
}
/* add correct size to the gif  */
.info_heading img {
    width: 150px;
}
/* style to the text  */
.information p {
    font-size: 15px;
}