/* adding space between the nav and the main div */
.nav {
    border-bottom: solid #cdc8be 1px;
}

/* main  */
.main_cont {
    display: grid;
    grid-template-columns: 12% 1fr;
    grid-template-rows: 5% 1fr;
    margin: 30px;
}
/* filter */
.filter {
    display: none;
    width: 83px;
    margin-top: 20px;
}

.filter_div {
    height: 500px;
    grid-row: 2;
}

.choice {
    display: flex;
    gap: 5px;
}

.filter_button {
    padding: 5px;
    width: 90px;
    background: #afaa9f;
    font-family: system-ui;
    font-size: 15px;
    border-radius: 10px;
}
.sort {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: end;
    margin: 20px;
}
.sort_button {
    background: #afaa9f;
    width: 55px;
    border-radius: 5px;
    height: 25px;
}

/* a container with product pictures, spliting them to 3 pictures for every row */
.prod_cont {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
/* a div for one image and it's text content  */
.prod_div {
    text-align: center;
}
/* image and hover animation  */
.prod_div img {
    width: 300px;
    transition: transform 0.3s;
    border: solid 1px grey;
}

.prod_div p {
    font-family: system-ui;
}

.add_button {
    font-family: system-ui;
}

img:hover {
    transform: scale(1.1);
}

