/* style to header  */
header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #c2bdb3;
    align-items: center;
}
/* the store's logo */
.logo {
    height: 200px;
}
/* navigation div in header */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 30px;
}
/* css to navigation links */
.nav a {
    text-decoration: none; 
    color: black;
    font-size: large;
}
.nav a:hover {
    color: rgb(180, 176, 176);
}
