/* remove the white line (margin) around the body */
body, html {
    margin: 0;
    padding: 0;
}
/* style to header  */
header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #978f80;
    align-items: center;
}

/* buttons header  */
.login_button, .cart_button {
    font-family: system-ui;
    padding: 0;
    margin: 0;
    width: 50px;
}

.login_button img, .cart_button img {
    background: white;
    height: 25px;
    width: auto;
    margin: 0;
    padding: 0;
}

/* the store's logo */
.logo {
    height: 200px;
}
/* navigation div in header */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 40px;
}
/* css to navigation links */
.nav a {
    text-decoration: none; 
    color: black;
    font-size: large;
    font-family: system-ui;
}
.nav a:hover {
    color: rgb(180, 176, 176);
}
/* main div */
main {
    height: 800px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* Adjusting the image to fit the main div as a background */
main img {
    display: flex;
    object-fit: cover;
    height: 800px;
    width: 100%;
    max-width: 1920px;
    border-bottom: solid 2px #655f58;
}
/* adjusting the text for the main to be on top the img  */
.main_text {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background: rgba(151, 143, 128, 0.5);
    color: rgb(43, 42, 42);
    padding: 30px;
}
.main_text p{
    font-size: 20px;
    text-align: center;
    font-family: system-ui;
}

.main_text h1 {
    font-family: system-ui;
    margin: 0;
}

.main_button {
    font-size: 20px;
    font-family: system-ui;
    background: #fff6f0;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    padding: 8px;
    border: 1px solid #655f58;
    text-decoration: none;
}
/* section div css */
section {
    display: flex;
    width: 100%;
    height: 400px;
    background: #978f80;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cont_div {
    border: 2px solid #afa8a8;
    width: 300px;
    height: 215px;
    padding: 20px;
    gap: 10px;
    background: #b1a69a;
    border-radius: 10px;
    text-align: center;
}
/* video  */
article {
    margin: 0;
    padding: 0;
}
video {
    object-fit: cover;
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    border-top: solid #61554d 2px;
}
/* sale link and information  */
aside {
    background: #978f80;
    height: 550px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 400px;
    flex-direction: column;
    background: #b1a69a;
    border-radius: 40px;
    border: white, solid, 3px;
}
.sale_div a {
    text-align: center;
    text-decoration: none;
}
.rules {
    color: #4d4b4b;
    font-size: 10px;
}
/* animation, change color to the text to get attention */
.sale {
    margin: 0;
    font-size: 85px;
    animation: colorshift 2s infinite alternate;
}
@keyframes colorshift {
    from {
        color: red;
    }
    to {
        color: rgb(0, 0, 0);
    }
}
/* show product categories */
.cont_prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
}
/* a link that looks like a button that leads to all products  */
.cont_prod a {
    text-decoration: none;
    border: solid, black, 1px;
    padding: 5px;
    color: black;
}
/* showing some pictures of some products  */
.products {
    display: flex;
    width: 100%;
    height: 560px;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.products img {
    width: 370px;
}
.CTA {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.CTA p {
    animation: scroll 5s linear infinite;
    font-size: 30px;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
/* the user can input their email to sign up for news and discounts.  */
.cont_socials {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* small div  */
.socials {
    justify-content: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    border: solid 1px black;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
    background: #978f80;
}
/* text in div  */
.socials p {
    font-size: 20px;
    margin: 20px;
}
/* sign up button  */
.socials button {
    margin: 20px;
    border-radius: 15px;
    background: white;
    width: 100px;
    height: 35px;
}
/* enter the email box  */
.socials input {
    margin: 20px;
    text-align: center;
    width: 200px;
    height: 35px;
    border-radius: 15px;
}
/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: #978f80;
}
/* logo */
.logo_footer {
    height: 220px;
}
/* big container footer */
.cont_footer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* headings  */
.headings_footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
/* small container footer  */
.cont_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont_2 a {
    color: rgb(0, 0, 0);
}
.cont_2 a:hover {
    color: rgb(180,176,176)
}
/* links in footer  */
.links_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.links_footer a {
    text-decoration: none;
    color: black;
}
.links_footer a:hover {
    color: rgb(180, 176, 176);
}